/* General Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    font-family: Roboto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(230, 230, 230);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(assets/images/BG3.webp);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    font-weight: normal;
    line-height: 120% !important;
    color: white;
    margin: 0
}

h1 {
    font-size: 65px
}

h2 {
    font-size: 50px
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px
}

body::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

/* Home Section */
.home {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.home-content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.home-content h1{
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.intro {
    padding: 15px;
    font-weight: 300;
    width: 1000px;
    margin: 0 auto;
}

/* Card Section for Projects and Certifications */
.about {
    display: flex;
}

.card-container {
    margin-inline: auto;
    padding-inline: 2rem;
}

.card {
    border-style: solid;
    border-color: rgb(40, 40, 40);
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 200px;
    text-align: center;
    max-width: 1140px;
    max-height: 600px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px); /* Blur the background behind the card */
    -webkit-backdrop-filter: blur(15px); /* For Safari support */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
}

.about-text {
    padding: 5rem;
}

.card h3 {
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
}

.card p {
    font-weight: 200;
    color: #cfcfcf;
    margin: 15px 0px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 100%;
    }
}

/* Projects Section*/
.projects {
    padding: 70px 0;
    position: relative;
    isolation: isolate;
    background-color: #212224;
}

.project-content {
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.project-title h2{
    font-weight: 500;
    text-transform: uppercase;
}

.project-subtitle {
    font-weight: 300;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 50px; /* Space between cards */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-color: transparent;
    width: 30rem;
    height: 40rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    background: rgba(140, 140, 140, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(15px); /* Blur the background behind the card */
    -webkit-backdrop-filter: blur(15px); /* For Safari support */
    border-style: solid;
    border-width: 2px;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(60, 60, 60, 0.5); /* Semi-transparent white */
}

.project-images {
    width: 100%;
    flex-direction: row;
    gap: 15px; /* Adds space between images */
}

.project-images img{
    width: 100%;
    margin: 1rem 0;
    object-fit: cover;
    border-radius: 10px;
}

.project-image {
    object-fit: cover ; /* Ensures the images cover the space without stretching */
    border-radius: 10px;
}

.project-card h3 {
    margin: 1rem 0 0 0;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
}

.project-card p {
    font-weight: 200;
    color: #cfcfcf;
    margin: 15px 0px;
    padding: 0;
}

.project-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.project-link:hover {
    text-decoration: underline;
}


/* acheivements Section*/
.achievements {
    padding: 70px 0;
    /* background-color: #212223; */
    position: relative;
    overflow: hidden;

}

/* background-image: 
radial-gradient(circle, transparent 1rem, #212223 1rem),
linear-gradient(#8a8d86 .5rem,transparent 0.5rem),
linear-gradient(90deg, #8a8d86 .5rem, transparent .5rem);
background-size: 5rem 5rem;
background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem; */

.achievement-content {
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.achievements-title {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.achievements-title h2{
    font-weight: 500;
    text-transform: uppercase;
}

.achievements-subtitle {
    font-weight: 300;
}

.achievements-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 50px; /* Space between cards */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.achievements-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-color: transparent;
    width: 30rem;
    height: 40rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(15px); /* Blur the background behind the card */
    -webkit-backdrop-filter: blur(15px); /* For Safari support */
    border-style: solid;
    border-width: 2px;
}

.achievements-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent white */
}

.achievements-images {
    width: 100%;
    flex-direction: row;
    gap: 15px; /* Adds space between images */
}

.achievements-images img{
    width: 100%;
    margin: 1rem 0;
    object-fit: cover;
    border-radius: 10px;
}

.achievements-image {
    object-fit: cover ; /* Ensures the images cover the space without stretching */
    border-radius: 10px;
}

.achievements-card h3 {
    margin: 1rem 0 0 0;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
}

.achievements-card p {
    font-weight: 200;
    color: #cfcfcf;
    margin: 15px 0px;
    padding: 0;
}

.achievements-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.achievements-link:hover {
    text-decoration: underline;
}


/* Footer Section */
.footer {
    padding-top: 100px;
    z-index: 1;
    position: relative;
}

.footer-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 100;
}

.footer-content .socials svg {
    height: 30px;
    fill: white;
    z-index: 2;
}

.socials a:hover svg {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.socials a {
    color: white;
    outline: none;
    text-decoration: none;
}

.socials a:focus {
    outline: none;
    color: white;
}




