/* General Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

html, body {
    font-family: Roboto;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

.site-title {
    font-size: 3rem;
    text-align: center;
}

.section-title {
    font-size: 2.25rem;
}

.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

section {
    padding-block: 10rem;
}


.diagonal {
    --skew-angle: 5deg;
    position: relative;
    isolation: isolate;
}

.diagonal::after {
    content: '';
    background-image: 
        linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}

.spikes {
    position: relative;
    background: 
        linear-gradient(to right, #fdc830, #f37335);
}

.spikes::before,
.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: purple;
}

.spikes::before {
    top: 0;
}

.spikes::after {
    bottom: 0;
}








